
<mat-toolbar color="primary" layout="row" >
  <button mat-icon-button class="menu-icon">
      <mat-icon (click)="sidenav.toggle()" class="mat-24" aria-label="Menu">menu</mat-icon>
  </button>
  <span>
      <h2>Home</h2>  <!-- titolo e altre cose da aggiunger alla barra in alto .-->
  </span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="menu-icon">
    <mat-icon (click)="logout()" class="mat-24" aria-label="Menu">logout</mat-icon>
  </button>
  
</mat-toolbar>

<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <!-- varie cose che ci servono -->
    <p>Varie cose che ci servono</p>
  </mat-sidenav>

  
  <div class="content" *ngIf="userInfo">

    <mat-card class="z-depth"  >
      <mat-card-title>Profili User</mat-card-title>
      <mat-card-content>
       
       
        <ng-container >
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon><span class="material-icons-outlined">
                  person
                </span></mat-icon>
              <h3 matLine> Username </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.username}}</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon> date_range</mat-icon>
              <h3 matLine> Password </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.password}}</span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon> date_range</mat-icon>
              <h3 matLine> First Name </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.firstname}} </span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon> date_range</mat-icon>
              <h3 matLine> Last Name </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.lastname}}</span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon> date_range</mat-icon>
              <h3 matLine> Date of Birth </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.birthdate | date:'dd/MM/yyyy'}}</span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>house_siding</mat-icon>
              <h3 matLine> Fiscal Code </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.fiscalcode}}</span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon> folder_shared</mat-icon>
              <h3 matLine> Citizenship </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.citizenship}} </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>folder</mat-icon>
              <h3 matLine> Address </h3>
              <p matLine>
                <span class="demo-2"> {{userInfo.address}}  </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon>folder</mat-icon>
              <h3 matLine> Gender </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.gender}}  </span>
              </p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon matListIcon><span class="material-icons-outlined">
                  credit_card_on
                </span></mat-icon>
              <h3 matLine> Role Name </h3>
              <p matLine>
                <span class="demo-2">{{userInfo.role.nome}}  </span>
              </p>
            </mat-list-item>

          </mat-list>

        </ng-container> 
        

      </mat-card-content>
    </mat-card>    
    <div style="padding: 5px;"></div>
   
  </div>
</mat-sidenav-container>